.App {
  height: 100vh;
  position: relative;
  max-width: 100vw;
  box-sizing: border-box;
}

.breadCrumbs{
  display: flex;
  font-weight: bold;
}
.breadCrumbs a{
  margin-left: 7px;
  color: darksalmon;
  cursor: pointer;
  text-decoration: none;
}

.error {
  margin-left: 20px;
}

.breadCrumbs p{
  margin-top: 0;
  margin-left: 7px;
  color: darksalmon;
  cursor: pointer;
  text-decoration: none;
}

.fa-folder,
.fa-file {
  font-size: 25px;
  opacity: 0.7;
  color: #265b7e;
}

.folder {
  margin: 20px;
}

header {
  height: 160px;
  position: relative;
  background-image: url("./pics/clouds1.jpeg");
  background-repeat: no-repeat;
  background-position-y: 23%;
  background-size: cover;
  box-shadow: 8px -98px 50px -42px rgba(255, 255, 255, 1) inset;

}

.headerTitle {
  padding-top: 10px;
  font-size: 40px;
  display: inline-block;
  color: darksalmon;
  font-weight: 200;
  writing-mode: vertical-rl;
}

.headerTitle span {
  font-weight: 600;
  color: darksalmon;
}

.h3 {
  text-align: center;
}

.innerContainer {
  width: 83%;
  height: 100vh;
  margin: 0px 3px;
  border-left: 1px solid darksalmon;
  overflow: auto;
}

.loginButton {
  width: 300px;
  height: 110px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  font-size: 40px;
  cursor: pointer;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.loginButton:hover,
.logoutButton:hover {
  opacity: 0.8;
}

.loginPageDiv {
  width: 100%;
  height: 100vh;
  background-image: url("./pics/clouds1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logoutButton {
  font-size: 30px;
  position: absolute;
  bottom: 3px;
  right: 3px;
  opacity: 0.7;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.outerContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.pageTitle {
  margin: 0px;
}

.popupBackground {
  min-width: 100vw;
  min-height: 100vh;
  max-height: 1000px;
  backdrop-filter: blur(6px);
  position: absolute;
  top: 160px;
}

.popupDeleteP {
  margin: 20px;
}

.popupWindow {
  position: absolute;
  translate: transformY(-50%);
  left: 35%;
  top: 15%;
  background-color: white;
  border: 1px solid darksalmon;
  border-radius: 8px;
  color: darksalmon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 200px;
}

.popupAddAndCancelButton {
  border-radius: 8px;
  width: 80px;
  height: 30px;
  margin: 20px;
  cursor: pointer;
}

.popupWindowButtonContainer {
  display: flex;
}

.popupWindowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search{
  color: darksalmon;
  font-size: 20px;
  padding-left: 5px;
}

.searchAndAddNewFolderInput {
  outline: none;
  border-radius: 8px;
  border: 1px solid darksalmon;
  width: 80%;
  height: 25px;
  background-color: transparent;
  font-size: 16px;
  padding:0;
}

.showStarsP {
  cursor: pointer;
  text-decoration: underline;
}

.searchInput::placeholder{
  font-size: 14px;
}

.searchInputDiv {
  position: absolute;
  left: 12%;
  top: 65%;
  width: 250px;
  display: flex;
  align-items: center;
}

.sidebarContainer {
  text-align: center;
  width: 17%;
  height: 100%;
}

.sidebarTitle,
.innerContainerTitle {
  color: darksalmon;
  font-size: 25px;
  margin: 20px 10px;
}

.star {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: 5px 0px 5px 20px;
  overflow-y: scroll;
}

.tableNameLink {
  text-decoration: none;
  color: black;
}

.tableNameLink:hover {
  text-decoration: underline;
  color: darksalmon;
}

td {
  text-align: left;
  padding: 5px;
  font-size: 18px;
}

th {
  text-align: left;
  padding: 10px 10px 10px 3px;
}

.trash {
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2a1;
}


.ulMenuContainer {
  list-style: none;
  padding-left: 10px;
}

.ulMenuContainer li {
  padding-bottom: 20px;
}

.userName {
  padding: 0;
  margin: 0;
  color: darksalmon;
  font-size: 30px;
  font-weight: 600;
}

.userNameDiv {
  padding: 0;
  position: absolute;
  top: 40%;
  right: 10px;
  margin: 0;
}

.userName span{
  color: darksalmon;
  font-weight: 200;
  font-size: 25px;
}

.uploadFileInput {
  display: none;
}

.uploadFileInputLabel,
.addFolderInputLabel,
.homeLinkSidebar {
  cursor: pointer;
  text-decoration: underline;
  color: black;
}

.uploadFileInputLabel:hover,
.addFolderInputLabel:hover,
.homeLinkSidebar:hover,
.showStarsP:hover {
  color: darksalmon;
}

