.App {
  background-color: grey;
  height: 100vh;

}

.button {
  border-radius: 8px;
  width: 100px;
  height: 30px;
}

header{
  border: 2px solid pink;
  height: 100px;
}

.headerTitle{
  margin: 0;
}

.homeTitle{
  margin: 0px;
}

.liSidebar {
  cursor: pointer;
}

.outerContainer {
  border: 2px solid yellow;
  width: 100vw;
  height: 500px;
  display: flex;

}

.sidebarContainer {
  border: 2px solid black;
  width: 20%;
  height: 100%;
}

.ulMenuContainer {
  list-style: none;
}


.innerContainer {
  border: 2px solid red;
  width: 80%;
  height: 100%;

}

.uploadFileInput {
  display: none;
}